.advantages {
    height: 470px;
    background-color: #f6f6f6;
    &__header {
        margin-top: 60px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__blocks {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        width: 260px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
        img {
        display: block;
        margin: 0 auto;
        margin-bottom: 38px;
        }
    }
    &__block_descr_s {
        margin-top: 25px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        a {
            text-decoration: underline;
            color: $main-color;
        }
    }
}









